# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
ENV/
.venv/

# Static files
staticfiles/

# Migrations (optional if you want)
*/migrations/*.pyc
*/migrations/__pycache__/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/

# Node (if using frontend tools)
node_modules/

# Python build files
build/
dist/
*.egg-info/