{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="form-container">
        <div class="info-header">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio.</p>
        </div>
        
        <h2 class="form-title">Enter Your Registered Email.</h2>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.email }}
            <button type="submit" class="auth-button">Send OTP</button>
        </form>

        <div class="back-button-container">
            <a href="{% url 'login_register' %}" class="back-button">BACK</a>
        </div>
    </div>
</div>
{% endblock %} 