{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="form-container">
        <h2 class="form-title">Enter Your New password.</h2>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.new_password }}
            
            <ul class="password-rules">
                <li id="min-chars">Min 8 Characters</li>
                <li id="capital-small">Capital and Small Letters</li>
                <li id="number">Number</li>
                <li id="symbol">Symbols</li>
            </ul>

            {{ form.confirm_password }}
            <div id="password-match-error" class="error-text"></div>
            
            <button type="submit" class="auth-button">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'accounts/js/reset_password.js' %}"></script>
{% endblock %} 